<h3 class="groups">hello there</h3>
  <ul class="my-groups"></ul>

<h3 class="myQuestions"></h3>

<h3 class="mostPopularQuestion"></h3>
  <ul class="questions-group-A"></ul>

<h3 class="allGroups"></h3>

<h3 class="myGroups"></h3>

<h3 class="newGroup"></h3>

<div class="main">

<h2>Trending / public Questions</h2>
<% @group_questions.each do |group_question| %>
  <% question = Question.find_by(:id => group_question.question_id) %>
    
  <ul>
    <li><h3>¿<%= link_to "#{question.query}", question_path(question) %>?<h3></li>
  </ul>
<% end %>

<h2>Or create a new Public Question</h2>

<%= link_to "Post a question to the public group", {:controller => "questions", :action => "new", :group => 0}%>

</div>









