<h2>Choose a Question To Answer</h2><br></br>

<% @questions.each do |q| %>
  <ul>
    <li>?<%= link_to "#{q.query}", question_path(q) %></li>
  </ul>
<% end %>

<h2>Or create a new Question</h2>
<h3><%= link_to "New Question???", new_question_path %></h3>

<h3>You're logged in as: <%= current_user.email %></h3>
<%= link_to "logout", logout_path %>