<h1>Most Popular Question</h1>

<%question = Question.find_by(id: "#{Question.most_popular}") %>

<%= render :partial => 'questions/question_li', :locals => {:question => question} %>


<%= link_to "back to ALL questions", questions_path %> |

<%= link_to "YOUR questions", user_path(current_user) %><br>

<% if question.user_id == current_user.id %>

  <p><%= link_to 'Destroy this question', @question, method: :delete %></p>

<% end %>