<h3>Create a New Y/N question!!</h3>

<%= render :partial => 'questions/new_question' %>

<div id="postResult">
  <h3 class="questionStats"></h3>
    <ul class="questions-group-0"></ul>
</div>

<div id="displayText"></div>

<script type="text/javascript" charset="utf-8">
  $(function () {
    $('form').submit(function(event) {
      //prevent form from submitting the default way
      event.preventDefault();
      var values = $(this).serialize();
      var posting = $.post('/questions', values);
 
      posting.done(function(data) {

        var question_id = data["question"]["id"];
        var question_query = data["question"]["query"]
        var question_user = data["question"]["user_id"]
        
        var thisQuestion = new Question(question_id, question_query, question_user);

        $(".questionStats").text(thisQuestion.query);

        var answers = data["question"]["answers"]
        var id = 0
        answerStats(answers, id);
      });              
    });
  });    


$('#question_query').keyup(function(event) {
  var input = $(this).val();
  $('#displayText').html(input);

});
</script>


