<h3>THE SHOW PAGE</h3>

<h1><%= @question.query %></h1>



<h4>ANSWER THE QUESTION TO PARTICPATE</h4>

<h2>YES</h2><br></br>

<h2>NO</h2><br></br>

<%= link_to "back to questions", questions_path %>

<p><%= link_to 'Destroy', @question, method: :delete %></p>