<h1>New Group Page </h1>


<%= render :partial => 'groups/new_group' %>
  <br/>

<div id="postResult">
  <h2 id="groupTitle"></h2>
</div>


<script type="text/javascript" charset="utf-8">
createNewGroup();
</script>
