<h2>Groups Show Page</h2>

<h3><%= @group.name %></h3>

<h3>Group Members: me, You, him, Her, Etc...</h3>

<h3>Questions posed to this group: </h3>

  <ul>
    <li>Question 1</li>
    <li>Question 2</li>
    <li>Question 3</li>
    <li>Question 4</li>
    <li>Question 5</li>
  </ul>