<h2>Signup!!</h2>

  <%= form_for(@user) do |f| %>
    <%= f.text_field :email, :placeholder => "register with ur email" %>
    <%= f.text_field :password, :placeholder => "register ur password" %>
    <%= f.submit "submit" %>
  <% end %><br></br>



 <%#HTML FORM %>
<%#form action ="/users" method="POST"%>
<%#input type="submit"%> 
<%#/form%>